html{
  background-color: darkslategrey;
}

.form {
  width: 300px;
	border: 1px solid #7731e7;
	padding: 25px;
	position: absolute;
	top: 15%;
	left: 40%;
  justify-content: center;
  align-items: center;
  background-color:rgb(12, 12, 12);
  border-radius: 10px;
  font-family: 'calibri';
  }
  
  .form #input_nombre {
    width: 70%;
    height: 30px;
    margin-bottom: 1.5rem;
    margin-right:1rem;
    border-radius: 5px;
    border: 1px solid #39c;
    outline: none;
  }

  .form #input_clave {
    width: 70%;
    height: 30px;
    margin-bottom: 1.5rem;
    margin-left:1rem;
    border-radius: 5px;
    border: 1px solid #39c;
    outline: none;
  }
  
  .form #btn-enviar {
    width: 60%;
    height: 40px;
    margin-bottom: 1rem;
    border:rgb(117, 80, 11);
    background: rgb(66, 66, 66);
    cursor: pointer;
    border-radius: 10px;
    color:white;
    font-size:15px;
  }

  .form .btn-mostrar {
    width: 10%;
    height: 30px;
    border:rgb(117, 80, 11);
    background: rgb(66, 66, 66);
    border-radius: 15px;
    color:white;
    font-size:5px;
  }

  h3{
    text-align: center;
    color:white;
    font-size:25px;
  }

  p{
    text-align: center;
    color:white;
    margin-bottom: 1rem;
    font-size:14px;
  }

  .form #btn-enviar:hover {
    color: orange;
  }

  a{
    color:aqua;
    text-decoration: none;
  }